.DS_Store
.classpath
.idea/
.project
*.iml
speedy-datasets/
**/.svn/*
**/trash/*
speedy-murmurs-simulator/data/*
speedy-murmurs-simulator/bin/
speedy-murmurs-simulator/out/
speedy-murmurs-simulator/plots/
speedy-murmurs-simulator/plot/
speedy-murmurs-simulator/temp/
speedy-murmurs-simulator/.ipynb_checkpoints/*
/spider/out/
speedy-murmurs-simulator/target/*
**/__pycache__/
*~