.DS_Store
.classpath
.idea/
.project
*.iml
speedy-datasets/
**/.svn/*
**/trash/*
/data/*
/bin/
/out/
/plots/
/plot/
/temp/
/.ipynb_checkpoints/*
/target/*
**/__pycache__/
*~
/logs/*
/plotting/archived/*
*/nohup*.out
**.png
